:root{
}

body{
    background-color: #e2b7ce;
    width: 1440px;
    height: 3984px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-evenly; 
}
.header .name h3{
    width: 100%;
    padding-left: 97px;
    color: 	#52316b;
}
.header .direction{
    width: 276px;
    height: 27px;
    display: flex;
    padding-left: 400px;
}
.header .direction .list{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 27px;
}
.header .direction .list .l1{
    width: 50px;
    display: flex;
    text-decoration: none;
}
.header .direction .list .l1 .a1{
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.header .social{
    width: 276px;
    height: 27px;
    display: flex;
    padding-left: 400px;
}
.header .social .list2{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 27px;
}
.header .social .list2 .l2{
    display: flex;
    text-decoration: none;
}
.header .social .list2 .l2 .a2{
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
}
.main .main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.main .main1 h4{
    font-size: 72px;
    order: 1;
}
.main .main1 h3{
    margin-top: 0px;
    order: 2;
}
.main .mainanh{
    width: 50%;
    display: grid;
    place-items: center;
}
.main .mainanh img{
    width: 50%;
    height: 100%;
}